<<<<<<< HEAD
#dice{
    width: 200px;
    height: 200px;
    background-color: #e2150e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    border-radius:10px;
=======
#dice{
    width: 200px;
    height: 200px;
    background-color: #e2150e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    border-radius:10px;
>>>>>>> ef2758930f8e2017f6a46ef16da0fc35f29bd247
}